/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family:'Verenda', Arial, sans-serif;
}

.map {
  display: block;
  margin: 1% auto;
  width: 1400px;
  height: 787px;
  background-image: url("content/map2_300.jpg");
  background-size: 1400px 787px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.one {
  display: block;
  width: 1400px;
  height: 114px;
  margin:0;
  border:0;
  padding:0;
}

.icecliff{
  display: inline-block;
}
.glass_city{
  display: inline-block;
}


.wave{
  display: inline-block;
}
.tp_pyramid{
  display: inline-block;
}
.flush{
  display: inline-block;
}
.bezos{
  display: inline-block;
}

.shore{
  display: inline-block;
}
.towel{
  display: inline-block;
}
.festival_lights{
  display: inline-block;
}
.air_show{
  display: inline-block;
}
.opera{
  display: inline-block;
}
.puzzles{
  display: inline-block;
}
.towers{
  display: inline-block;
}


.gateway{
  display: inline-block;
}
.trooper{
  display: inline-block;
}   
.circus{
  display: inline-block;
}
.residents_past{
  display: inline-block;
}

.hallway{
  display: inline-block;
}
.rainforest{
  display: inline-block;
}
.mosaic{
  display: inline-block;
}


.hills{
  display: inline-block;
}
.icecave{
  display: inline-block;
}
.lint{
  display: inline-block;
}

.laundry{
  display: inline-block;
}
.gold_pyramid{
  display: inline-block;
}
.desert{
  display: inline-block;
}
.whirlpool{
  display: inline-block;
}

.yurts{
  display: inline-block;
}
.cathedral{
  display: inline-block;
}
.jewel{
  display: inline-block;
}
.pots{
  display: inline-block;
}
.museum{
  display: inline-block;
}


.balloons{
  display: inline-block;
}
.library{
  display: inline-block;
}
.spice{
  display: inline-block;
}


.lady{
  display: inline-block;
}
.bags{
  display: inline-block;
}
.dirty_dishes{
  display: inline-block;
}


.discarded_papers{
  display: inline-block;
}
