/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Alegreya', serif;
  background-image: url("content/background.png");
  background-size: 100%;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.map {
  display: block;
  margin: 1% auto;
  width: 1400px;
  height: 787px;
  background-image: url("content/map2_300.jpg");
  background-size: 1400px 787px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.one {  
  display: block;
  width: 1400px;
  height: 60px;
  margin:0;
  border: 1px solid green;
  padding:0;
}
.one_five {
  display: block;
  width: 1400px;
  height: 90px;
  margin:0;
  border:0;
  padding:0;
  border: 1px solid green;
}
.seven_five {
  display: block;
  width: 1400px;
  height: 75px;
  margin:0;
  border:0;
  padding:0;
  border: 1px solid green;
}
.one_seven_five {
  display: block;
  width: 1400px;
  height: 105px;
  margin:0;
  border:0;
  padding:0;
  border: 1px solid green;
}
.two {
  display: block;
  width: 1400px;
  height: 120px;
  margin:0;
  border:0;
  padding:0;
  border: 1px solid green;
}

/* https://www.w3schools.com/css/css3_images.asp */

.icecliff{
  display: inline-block;
  margin-left: 200px;
  padding-top: 8px;
}


.wave{
  display: inline-block;
  margin-left: 90px;
  padding-top: 3px;
}
.tp_pyramid{
  display: inline-block;
  margin-left: 60px;
  padding-top: 5px;
}
.flush{
  display: inline-block;
  margin-left: 35px;
  padding-top: 1px;
}
.glass_city{
  display: inline-block;
  margin-left: 510px;
}
.bezos{
  display: inline-block;
  margin-left: 410px;
}


.shore{
  display: inline-block;
  margin-left: 80px;
}
.towel{
  display: inline-block;
  margin-left: 220px;
  padding-top: 10px;
}
.festival_lights{
  display: inline-block;
  margin-left: 180px;
  padding-top: 10px
}
.air_show{
  display: inline-block;
  margin-left: 120px;
  padding-top: 5px;
}
.opera{
  display: inline-block;
  margin-left: 60px;
}
.puzzles{
  display: inline-block;
  margin-left: 85px;
  padding-top: 10px;
}
.towers{
  display: inline-block;
  margin-left: 10px;
  padding-top: 10px;
}


.gateway{
  display: inline-block;
  margin-left: 140px;
}
.trooper{
  display: inline-block;
  margin-left: 455px;
}   
.circus{
  display: inline-block;
  margin-left: 230px;
  padding-top: 5px;
}
.residents_past{
  display: inline-block;
  margin-left: 290px;
  padding-top: 5px;
}


.hallway{
  display: inline-block;
  margin-left: 325px;
}
.rainforest{
  display: inline-block;
  margin-left: 275px;
}
.mosaic{
  display: inline-block;
  margin-left: 120px;
  padding-top: 5px;
}


.hills{
  display: inline-block;
  margin-left: 335px;
}
.gold_pyramid{
  display: inline-block;
  margin-left: 345px;
  padding-top: 10px;
}
.icecave{
  display: inline-block;
  margin-left: 155px;
  padding-top: 5px;
}
.desert{
  display: inline-block;
  margin-left: 65px;
}
.whirlpool{
  display: inline-block;
  margin-left: 105px;
  padding-top: 10px;
}
.lint{
  display: inline-block;
  margin-left: 50px;
}


.laundry{
  display: inline-block;
  margin-left: 160px;
  padding-top: 10px;
}
.yurts{
  display: inline-block;
  margin-left: 55px;
  padding-top: 5px;
}
.cathedral{
  display: inline-block;
  margin-left: 20px;
  padding-top: 10px;
}
.jewel{
  display: inline-block;
  margin-left: 30px;
  padding-top: 3px;
}
.pots{
  display: inline-block;
  margin-left: 360px;
  padding-top: 10px;
}
.museum{
  display: inline-block;
  margin-left: 15px;
  padding-top: 10px;
}


.balloons{
  display: inline-block;
  margin-left: 310px;
  border: 1px solid red;
  margin-top: 5px;
}
.library{
  display: inline-block;
  margin-left: 45px;
  margin-top: 30px;
  border: 1px solid blue;
}
.spice{
  display: inline-block;
  margin-left: 470px;
  border: 1px solid blue;
  margin-top: 0px;
}


.lady{
  display: inline-block;
  margin-left: 565px;
}
.bags{
  display: inline-block;
  margin-left: 190px;
  padding-top: 3px;
}
.dirty_dishes{
  display: inline-block;
  margin-left: 115px;
}


.discarded_papers{
  display: inline-block;
  margin-left: 360px;
}
